.modalContainer {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: fixed;
    inset: 0;
}

.formContainer {
    background-color: rgb(169, 198, 223);
    border-radius: 5px;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
}

.formInputContainer {
    position: relative;
    display: flex;
    flex-direction: column;

}

.formError {
    position: absolute;
    bottom: -14px;
    color: rgb(194, 82, 82);
    font-size: 12px;
}